:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 1. Use a more intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margins and paddings */
* {
  margin: 0;
  padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/* 4. Improve text rendering, default line-height */
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

/* 5. Make media elements more responsive by default */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styling (so everything inherits fonts) */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows (allow words to wrap when needed) */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Create a root stacking context on the top-level containers (React/Vue/Next/Angular apps) */
#root, #__next, #app {
  isolation: isolate;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Prevent text selection on double-clicks */
header, main, aside, footer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Enable text selection for these elements */
header input,
main input,
aside input,
footer input {
  -webkit-user-select: text; /* or auto, depending on the behavior you want */
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
